* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0e1324;
    color: white;
    /* font-family: "Roboto", sans-serif;
    font-optical-sizing: auto; */

}


header {
    position: fixed;
    width: 100%;
    top: 0;
    bottom: 0;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.logo {
    font-size: 25px;
    color: red;
}

.navbar-links {
    display: flex;
    gap: 18px;
}

.navbar-links a {
    color: white;
    text-decoration: none;
    font-size: 18px;

}

.navbar-links a:hover {
    color: red;
}

.navbar-links a.active {
    text-decoration: underline;
    color: red;
}

.hero {
    padding: 60px;
    margin-top: 80px;
}

.hero-container {
    display: flex;
    justify-content: center
}

.hero-container>div {
    width: 50%;
}

.hero-content h4 {
    margin-bottom: 11px;

}

.hero-content h1 {
    font-size: 50px;
    margin-bottom: 15px;

}

.hero-content p {
    margin-bottom: 20px;
    max-width: 600px;
    line-height: 1.6;
}

.hero-image img {
    width: 390px;
    margin-top: -120px;
    margin-left: 30px;
}

.about {
    padding: 60px;
    margin-top: -60px;
}

.about-container {
    display: flex;
    justify-content: center;
}

.about-container>div {
    width: 50%;
}

.about-container .about-content {
    margin-top: 60px;
}

.about-container h2 {
    margin-bottom: 15px;
    color: red;
}

.about-container p {
    margin-bottom: 20px;
    line-height: 1.6;
}

.about-image img {
    width: 500px;
}

.information p {
    margin-bottom: 8px;
}

.btn {
    margin-top: 20px;
    padding: 15px 20px;
    border: none;
    border-radius: 9px;
    background: red;
    color: white;
    text-decoration: none;
}

.social-icons i {
    padding: 10px;
    border: 2px solid red ;
    border-radius:50%;
    margin-right: 10px;
    color: red;
}

footer {
    width: 100%;
    top: 0;
    bottom: 0;
}

footer h5 {
    padding: 20px;
    background: black;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-size: 20px;
    text-align: center;
}
@media (max-width: 768px){
    .navbar-links{
        display: none;
    }
      .hero{
        padding: 40px 20px;
    }

    .hero-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .hero-container > div{
        width: 100%;
    }

    .hero-content h1{
        font-size: 35px;
    }
    
    .hero-container p{
          max-width: 100%;
        text-align: center;
        padding: 0 10px;
        font-size: 16px;
    }

     .hero-image img{
        width: 280px;
        margin: 10px auto 0;
        display: block;
    }
    
    .about{
        padding: 40px 20px;
    } 
    .about-container{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .about-container > div{
        width: 100%;
    }

    .about-image{
        width: 200px;
        margin-left: -100px;
    }
    
}
